.container {
    /* height: calc(100vh - 100px); */
    
    background-color: #222;
    display: flex;
    border-top:6px solid; 
    border-top-color: #b7903c; 
    
    
}   
.item {
    flex: 1;
    position: relative;
    display: flex;
}

.item:last-child{
justify-content: space-between;
    padding: 50px;
}

.card{
    /* flex:3; */
    padding: 0 20px;

}

.title {
    font-style: 18px;
    color: #b7903c;
}

.text {
    color: lightgray;
}

.textStreet {
    color: lightgray;
}

.textPhone {
    font-style:20px;
    color: #b7903c;
    font-weight: bold;
    text-shadow: 3px 3px rgb(37, 80, 114);
}


.motto {
    color: beige;
    
}

.thanks {
    
    font-size: 23px;
    color: beige;
    font-family: 'Karla';
    
}



@media only screen and (min-width: 100px) and (max-width: 1050px) {

    .title, .motto, .thanks {
        display: none;
    }

     
}


