.container {
    /* height: calc(100vh - 100px); */
    
    background-color: #222;
    display: flex;
    
}   
.item {
    flex: 1;
    position: relative;
    display: flex;
}

.item:last-child{
justify-content: space-between;
    padding: 50px;
}

.card{
    /* flex:3; */
    padding: 0 20px;

}

.title {
    font-style: 18px;
    color: #b7903c;
}

.text {
    color: lightgray;
}

.motto {
    color: beige;
}

.thanks {
    
    font-size: 23px;
    color: beige;
    font-family: 'Karla';
    
}

@media only screen and (min-width: 100px) and (max-width: 550px) {
    .item {
        background-image:none;
    }
}

@media only screen and (min-width: 551px) and (max-width: 1000px) {
    .item {
        background-image:none;
    }
}