.container{
    height: 100px;
    padding: 0px 50px;
    background-color: #45103e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 3;
    top: 0;

}

    /* Align Order Now */


    .item {
        flex: 1;
        display: flex;
        align-items: center;
    }

     /* Align Middle Items with triple space */
    .item:nth-child(2){
        display: flex;
        align-items: center;
        flex: 1;
        
    }

    .item:last-child {
        justify-content: flex-end;
        padding-right:10px;
    }

    /* Stylize phone icon */
    .callButton{
        background-color: #fff;
        /* create circle */
        border-radius: 50%;
        padding: 10px;
        width: 50px;
        height: 50px;

        
    }

     .texts{
        margin-left: 20px;
        color: #fff;

     }
     /* Stylize Place Order */
     .text:first-child{
        font-size: 12px;
        font-weight: 500;

     }
     /* Stylize Phone Number */
     .text:last-child{
        font-style: 20px;
        font-weight: bold;
     }
     /* Stylize Nav Menu */
     .list{
        padding: 0;
        display: flex;
        align-items: center;
        list-style: none;
        color: white;
        
     }
     /* Stylize Nav Menu Items*/
        .listItem{
            margin: 20px;
            font-weight: 500;


        }
     
    /* Stylize and position Shopping cart*/
        .cart{
            position: relative;
        }

    /* Stylize and position Shopping cart num items*/
    /* Offset number to the right */
    
        .counter{
            position: absolute;
            top: -10px;
            right: -10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            padding: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: #755389;


        }



    

