.container{
    height: 100px;
    padding: 0px;
    background-color: #755389;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;

}

    /* Align Order Now */


    .item {
        flex: 1;
        display: flex;
        align-items: center;
    }

     /* Align Middle Items with triple space */
    .item:nth-child(2){
        flex: 3;
        
    }

    /* Stylize phone icon */
    .callButton{
        background-color: #fff;
        /* create circle */
        border-radius: 50%;
        padding: 10px;
        width: 50px;
        height: 50px;

        
    }

     .texts{
        margin-left: 20px;
        color: #fff;

     }
     /* Stylize Place Order */
     .text:first-child{
        font-size: 12px;
        font-weight: 500;

     }
     /* Stylize Phone Number */
     .text:last-child{
        font-style: 20px;
        font-weight: bold;
     }
     /* Stylize Nav Menu */
     .list{
        padding: 0;
        display: flex;
        align-items: center;
        list-style: none;
        color: white;
        
     }
     /* Stylize Nav Menu Items*/
        .listItem{
            margin: 20px;
            font-weight: 500;


        }
     
    /* Stylize and position Shopping cart*/
        .cart{
            position: relative;
        }


    

