.container{
    /* Surrounding blank background */
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #333366; */
    background: linear-gradient(109.6deg, rgb(80, 35, 217) 11.2%, rgb(217, 35, 189) 91.1%);
}

.desc{
    /* Title text below welcome you jpg */
    font-style: 24px;
    color: #f3f336;
    width: 70%;
}

.wrapper{
    /* Description of items on menu */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-style: italic;
    color: #DFFF00;
}